@charset "utf-8";

/* padding을 활용한 IR */
.brand1 {
    background: yellow url(./images/title.png) no-repeat;
    height: 0px;
    width: 290px;
    padding-top: 195px;
    overflow: hidden;
}

/* indent를 응용한 IR */
.brand2 {
    background: pink url(./images/title.png) no-repeat;
    height: 195px;
    width: 290px;
    text-indent: 290px;
    white-space: nowrap;
    overflow: hidden;
}

.brand3 {
    background: lime;
    height: 195px;
    line-height: 195px;
    width: 290px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.brand3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(./images/title.png);
    height: 100%;
    width: 100%;
}