@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');


/* 초기화 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

/* clearfix - float 이슈 해결을 위한 선언 */
/* float -> height를 잃어버리기 때문에 ::after 가상요소를 추가하여 높이 채움 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    margin: 0;
    color: #181818;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: 400;
    background-color: gray;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    margin: 0 auto;
    width: 940px;
}

.header {
    box-sizing: border-box;
    position: relative;
    padding: 0 30px 50px 30px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* logo */
.logo {
    margin: 0;
    position: absolute;
    top: 45px;
    left: 70px;
    /* z-index: 10; */
}

/* 멤버 링크 */
.member {
    list-style-type: none;
    margin: 0;
    padding: 2px 0;
    font-size: 0;
    text-align: right;
    position: relative;
    right: -10px;
}

.member li {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.member li:nth-child(n+2)::before {
    font-family: "fontello";
    content: '\f142';
}

.member a {
    padding: 8px 10px;
    display: inline-block;
}

/* main */
.menu {
    background-color: #ed8625;
    background-image: linear-gradient(to bottom, #1e5799 0%, #f7cc31 0%, #ed8625 35%, #ed8625 70%, #f7cc31 100%);
    padding-left: 225px;
    list-style: none;
    margin: 5px 0 0 0;
    border-radius: 0 0 5px 5px;
    /* border-top: 2px solid #000; */
    box-shadow: 0 -2px 2px 0 #000;
    /* height: 45px; */
}

.menu::after {
    content: "";
    clear: both;
    display: block;
}

.menu-item {
    float: left;
    position: relative;
}

.menu-act .btn-menu {
    color: yellow !important;
}

.menu-act .btn-menu::after {
    content: "";
    display: block;
    border-top: 2px solid black;

}

.btn-menu {
    display: block;
    height: 45px;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.sub-menu {
    padding-left: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    display: none;
    white-space: nowrap;
    /* 'white-space: nowrap' - 줄바꿈 금지
    -> 상위클래스의 relative 속성에 영향을 받은 경우, width값에 구애받지 않고 사용 가능 */
}

.menu-act .sub-menu {
    display: block;
    top: 47px;
}

.sub-menu li,
.sub-menu1 a {
    display: inline-block;
}

.sub-menu1 a {
    padding: 10px 0;
    margin-right: 10px;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
    left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
    right: 0;
}

/* visual */
@keyframes textAni {
    from {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        /* padding: 0; */
        /* margin: 0; */
        /* top: 0;
        left: 0; */
        transform: translate(0, 0);
    }

    to {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        /* padding: 75px 0 0 400px; */
        /* margin: 75px 0 0 400px; */
        /* top: 75px;
        left: 400px; */
        transform: translate(400px, 75px)
    }
}

@keyframes bgAni {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    /* animation-name: bgAni;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: paused; */
    animation: bgAni 2000ms infinite alternate ease-in-out;
}

.visual::before {
    /* background-color: silver;
    background-image: url('./images/ani_flower_01.png'), url('./images/ani_flower_02.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 -10px, 670px 0; */
    background: url('./images/ani_flower_01.png') no-repeat 0 -10px, url('./images/ani_flower_02.png') no-repeat 670px 0;
    z-index: 10;
}

.visual::after {
    animation-delay: 10s;
    background: url('./images/ani_flower_03.png') no-repeat 300px 0, url('./images/ani_flower_04.png') no-repeat 800px 15px;
}

.visual-text {
    /* animation-name: textAni;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
    animation: textAni 5s forwards ease-in-out;
    /* position: relative; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
}

/* main */
.main-content {
    border-radius: 15px 15px 0 0;
    /* margin: 0 auto; */
    /* width: 940px; */
    min-height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.group1 {
    flex-basis: 250px;
}

.group2 {
    flex-basis: 380px;
}

.group3 {
    flex-basis: 190px;
}

/* login section */
.login {
    background: #ed8625 radial-gradient(circle at right top, #f7cc31, #ed8625);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 0 0 #666;
}

.login legend,
.validation h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.login-heading {
    /* margin: 0; */
    text-indent: 10px;
    font-size: 1.5rem;
    color: yellow;
    font-weight: 700;
}

.login-form {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
}

.login-form fieldset {
    border: 0;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #aaa;
}

.login-form label {
    width: 4em;
    display: inline-block;
}

/* 속성 선택자 사용 - '.login-form [type="email]' */
.login-form input {
    width: 90px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 6px;
}

.login-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid orangered;
    background: orange;
    padding: 0;
    color: #fff;
    border-radius: 3px;
    font: inherit;
}

.user-pw {
    margin-top: 5px;
}

.sign {
    background: #fff;
    border-radius: 0 0 5px 5px;
    margin: 0;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.sign li {
    font-size: 1.3rem;
}

.sign li label {
    line-height: 200%;
}

.sign li::before {
    color: #ed8625;
}

/* validation section */
.validation-list {
    padding-left: 10px;
    list-style: none;
    margin: 25px 0 20px 0;
}

.validation-list li {
    margin: 10px 0;
}

.validation-list a {
    display: block;
    background: url("images/validation_icon.png") no-repeat 15px 50%,
        linear-gradient(to bottom, #ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 30px;
    padding: 5px 5px 5px 35px;
}

.validation a:hover,
.validation-list a:focus {
    color: red;
}

/* term section */
.term {
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 15px;
    /* margin-top: 20px; */
}

.term-heading {
    /* margin: 0; */
    font-weight: 700;
    font-size: 1.5rem;
}

.term-list {
    background: red;
    margin: 10px 0;
}

.term-list::after {
    content: "";
    clear: both;
    display: block;
}

.term-list-thumbnail,
.term-list-brief {
    margin: 0;
}

.term-list-subject,
.term-list-brief {
    float: right;
    width: 145px;
}

.term-list-subject {
    background: darkgreen;
    color: #296897;
    margin: -2px 0 5px 0;
}

.term-list-thumbnail {
    background: deeppink;
    float: left;
    width: 50px;
}

.term-list-thumbnail img {
    vertical-align: top;
}

.term-list-brief {
    background: burlywood;
    line-height: 1.5;
}

/* search section */
.search-form {
    background: #ccc linear-gradient(#ccc, #eee) padding: 15px 25px 10px;
    border: 1px solid #aaa;
    border-bottom: 0;
    /* border-width: 1px 1px 0 1px;
    border-style: solid solid none solid;
    border-color: #aaa #aaa transparent #aaa; */
    border-radius: 15px 15px 0 0;
}

.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
}

/* .search-form label, .search-form input, .btn-search */
/* label[for="search"], input[type="search"], .btn-search */
.search-form fieldset * {
    vertical-align: middle;
}

/* input[type="search"] {} */
.search-form input {
    height: 24px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
    width: 200px;
    border-radius: 3px;
    margin: 0 2px;
}

.btn-search {
    background: #121212;
    color: #fff;
    font: inherit;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 10px;
    height: 24px;
    font-size: 1.3rem;
}

/* notice&pds section */
.board {
    position: relative;
}

.board ul, .board .more {
    display: none;
}

.tab-act ul, .tab-act .more {
    display: block !important;
}

.notice-heading, .pds-heading {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    position: absolute;
    top: 0;
}

.pds-heading {
    left: 73px;
}

.tab {
    display: block;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    background: #ccc linear-gradient(#ccc, #eee);
    padding: 5px 10px;
    color: #666;
}

.tab-act .tab {
    color: orangered;
    border-color: #ed8625 #ed8625 #fff #ed8625;
    background: #fff;
}

.board ul {
    margin: 20px 0;
    padding: 45px 0 0 0;
    list-style: none;
}

.board li {
    margin: 8px 0;
    display: flex;
    /* justify-content: space-between; */
}

.board li a {
    width: 270px;
    /* 'white-space: nowrap' -> 줄바꿈 금지 */
    white-space: nowrap;
    overflow: hidden;
    /* 'text-overflow: ellipsis' -> 뒤 내용 생략 처리 */
    text-overflow: ellipsis;
}

.board time {
    margin-left: auto;
}

.board .more {
    position: absolute;
    top: 0;
    right: 0;
}

.more::before {
    color: hsla(110, 70%, 20%, 1);
}

/* 새소식 */
.news {
    margin-top: 20px;
    position: relative;
}

.news::before {
    content: "";
    background: red linear-gradient(to right, #aaa, #fff);
    position: absolute;
    top: 30px;
    left: 0;
    width: 80%;
    height: 1px;
}

.news-heading {
    margin: 0;
    font-size: 1.5rem;
    color: #ed8625;
}

.news-link {
    display: block;
}

.news-article {
    padding-left: 130px;
    position: relative;
    min-height: 105px;
}

.news-article-subject {
    margin: 30px 0 0 0;
    font-size: 1.4rem;
    font-weight: 700;
}

.news-article-date {
    display: block;
    margin: 5px 0 10px;
}

.news-article-brief {
    margin: 0;
    line-height: 1.5;
}

.news-article-thumbnail {
    margin: 0;
    position: absolute;
    top: 2px;
    left: 0;
}

.news-article-thumbnail img {
    box-shadow: 0 15px 15px 0 #aaa;
}

.news-article-thumbnail figcaption {
    text-align: center;
    margin-top: 15px;
}

.news-more {
    position: absolute;
    top: 0;
    right: 0;
}

/* 신규이벤트 및 관련사이트 */
.gradient-box {
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
}

.event, .related {
    margin: 0 10px;
}

.event {
    position: relative;
}

.related {
    border-top: 1px solid #aaa;
}

.event-heading, .related-heading, .favorite-heading {
    margin: 10px 0;
    font-size: 1.5rem;

}

.point-color {
    color: #ed8625;
}

.event p {
    margin: 10px 0;
    line-height: 1.5;
}

.event img {
    border: 1px solid #aaa;
    /* box-shadow -> 중앙 정렬에 크기 포함되지 x */
    box-shadow: 5px 5px 0 0 #aaa;
}

.event em {
    font-style: normal;
}

.btn-event {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    overflow: hidden;
}

.btn-event button {
    background: orange url(./images/back_forward.png) no-repeat;
    width: 19px;
    height: 100%;
    padding: 18px 0 0;
    border: 0;
    cursor: pointer;
}

/* .btn-event button {
    background-image: url(./images/back_forward.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 19px;
    height: 100%;
    padding: 18px 0 0;
    border: 0;
} */

/* .btn-event button:nth-child(2) {
    background-position: 100% 0;
} */

.btn-event-next {
    background-position: 100% 0 !important;
}

.related-list {
    /* 내 방식 */
    /* list-style-type: none;
    padding: 0;
    height: 27px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white; */
    background: white;
    padding-left: 0;
    list-style: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 27px;
    overflow: hidden;
    transition: height 0.4s 0s, padding 0.4s 0.4s, background 0.4s 0.4s;
}

.related-list:hover, .related-list:focus {
    height: 147px;
    padding: 10px 0;
    /* background: yellow; */
}

.related-list li {
    /* 내 방식 */
    /* padding: 0 1em;
    height: 26px;
    cursor: pointer; */
    height: 25px;
    padding: 2px;
    position: relative;
}

.related-list a {
    width: calc(100% - 4px);
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 0 0 1em;
}

/* favorite site */
/* 내 방식 */
/* .favorite {
    position: relative;
    margin-top: 20px;
}

.favorite-heading {
    background: yellow;
    margin: 5px;
}

.favorite-heading span {
    background: orange;
}

.favorite-list li:nth-child(1)::before {
    content: "1";
}

.favorite-list li:nth-child(2)::before {
    content: "2";
}

.favorite-list li:nth-child(3)::before {
    content: "3";
}

.favorite-list li:nth-child(4)::before {
    content: "4";
}

.favorite-list li:nth-child(n)::before {
    float: left;
    width: 10%;
    text-align: center;
    background: #aaa;
    color: white;
    border-radius: 2px;
}

.favorite-list a {
    float: left;
    width: 70%;
    background: green;
}

.favorite-list em {
    float: right;
    width: 20%;
    background: blue;
}

.favorite-list {
    background: blue;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.favorite-more {
    background: pink;
    position: absolute;
    top: 5px;
    right: 0;
} */

.favorite {
    margin-top: 20px;
    padding: 0 10px;
    position: relative;
}

.favorite-list {
    padding-left: 0;
    list-style: none;
    counter-reset: 0;
}

.favorite-list li {
    counter-increment: number;
    margin: 8px 0;
    /* display: flex;
    align-items: center; */
    position: relative;
}

.favorite-list li::before {
    content: counter(number);
    color: #fff;
    font-size: 1.2rem;
    background: #999;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
}

.favorite-list a {
    /* float: left; */
    display: inline-block;
    vertical-align: middle;
}

.favorite-list em {
    background: transparent url(./images/rank.png) no-repeat;
    /* margin-left: auto; */
    font-style: normal;
    /* flex item이기 때문에 width, height 값 가질 수 있음 */
    width: 9px;
    height: 11px;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
    /* float: right; */
    /* margin-top: 3px; */
    margin-top: -5px;
    position: absolute;
    top: 50%;
    right: 0;
}

em.stop {
    background-position: 0 50%;
}

em.down {
    background-position: 0 100%;
}

.favorite-more {
    position: absolute;
    top: 10px;
    right: 10px;
}

.favorite-more::before {
    color: hsla(110, 70%, 20%, 1);
}

.slogan {
    background-color: orange;
    padding: 15px 0;
}

.footer-bg {
    background-color: silver;
    padding: 15px 0;
}

.footer {
    background-color: yellow;
}