@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header, .visual, .main-content, .slogan, .footer {
    margin: 0 auto;
    width: 940px;
}

.header {
    background-color: pink;
    height: 10vh;
}

.visual {
    background-color: lime;
    height: 120px;
}

.main-content {
    background-color: skyblue;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.group {
    background-color: yellow;
}

.group1 {
    flex-basis: 250px;
    background-color: orange;
} 

.group2 {
    flex-basis: 380px;
    background-color: lime;
} 

.group3 {
    flex-basis: 190px;
} 

.slogan {
    background-color: orange;
    padding: 15px 0;
}

.footer-bg {
    background-color: silver;
    padding: 15px 0;
}

.footer {
    background-color: yellow;
}