@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');

/* 초기화 */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    color: #181818;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 10px;
    font-weight: 400;
}

body {
    background: yellow;
    background: url(./images/bg_flower.png) no-repeat 50% 0 fixed, linear-gradient(#ccc, #eee, #fff) no-repeat fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 숨김텍스트 */
.a11y-hidden,
legend {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.header,
.visual {
    margin: 0 auto;
    width: 940px;
}

/* header */
.header {
    background: #fff;
    padding: 0 30px 50px 30px;
    border-radius: 0 0 15px 15px;
    position: relative;
}

/* logo */
.logo {
    position: absolute;
    top: 32px;
    left: 70px;
}

/* member */
.member {
    padding: 2px 0;
    text-align: right;
    font-size: 0;
}

.member li {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.member li:nth-child(n + 2)::before {
    font-family: "fontello";
    content: '\f142';
}

.member li a {
    display: inline-block;
    padding: 8px 10px;
}

/* nav */
.menu {
    background: linear-gradient(#f7cc31 0%, #ed8625 35%, #ed8625 70%, #f7cc31 100%);
    padding-left: 225px;
    margin-top: 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -2px 2px #000;
    height: 45px;
}

.menu-item {
    margin-bottom: 2px;
    float: left;
    position: relative;
}

.menu-btn {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
    border-left: 2px solid rgba(255, 255, 255, 0.4);
}

.menu-act .menu-btn {
    color: yellow !important;
}

.menu-act .menu-btn::after {
    content: "";
    display: block;
    border-top: 2px solid #000;
}

.menu-act .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    white-space: nowrap;
    top: 47px;
    font-size: 1.4rem;
    display: none;
}

.sub-menu li {
    display: inline-block;
    padding: 0;
    margin-right: 5px;
}

.sub-menu a {
    display: inline-block;
    padding: 10px 0;
}

/* visual */
.visual {
    height: 120px;
    /* position: relative; */
}

@keyframes bgAni {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.visual::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('./images/ani_flower_01.png') no-repeat 0 -10px, url(./images/ani_flower_02.png) no-repeat 670px 0;
    animation: bgAni 2000ms infinite alternate ease-in-out;
}

.visual::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(./images/ani_flower_03.png) no-repeat 300px 0, url(./images/ani_flower_04.png) no-repeat 800px 15px;
    animation: bgAni 2000ms infinite alternate ease-in-out 1000ms;
}

@keyframes textAni {
    0% {
        font-size: 1.2em;
        color: rgba(0, 0, 0, 0);
        transform: translate(0. 0);
    }

    100% {
        font-size: 2.4em;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}

.visual-text {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: textAni 5s forwards;
}

/* main */
.main {
    background: #fff;
    border-radius: 15px 15px 0 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    min-height: 400px;
}

.group {
    background: yellow;
}

.group1 {
    background: gray;
    flex-basis: 250px;
}

.group2 {

}

.group3 {

}

/* main - login */
.login {
    background: #ed8625 radial-gradient(circle at right top, #f7cc31, #ed8625);
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #666;
    padding: 10px;
}

.login-heading {
    color: #ff0;
    text-indent: 10px;
    font-size: 1.5em;
}

.login-form {
    background: #fff;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
    font-size: 1.4em;
}

.login-form fieldset {
    border: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #aaa;
    position: relative;
}

.login-form fieldset label {
    display: inline-block;
    width: 4em;
    cursor: pointer;
}

.login-form fieldset input {
    width: 90px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.login-form fieldset .user-pwd {
    margin-top: 6px;
}

.login-form fieldset .login-btn {
    background: #f7cc31;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ed8625;
    border-radius: 3px;
    color: #fff;
    font: inherit;
}

.login-account {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.login-account li::before {
    color: #ed8625;
}

/* main - validation */